
    <!-- link Style.css  file for styling this component  -->
    <link rel="stylesheet" href="/CSS/Style.css">

<!-- Single Post main Wrapper  -->
<div class="post_wrapper">
    <!-- Title or question of the post  -->
    <div class="user_wrapper">
        <div class="image_box">
            <img src="https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?w=243&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="">
        </div>
        <div class="userDetails">
            <h5>Username</h5>
            <p>ln mish</p>
        </div>
    </div>
    <div class="postTitle">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ex.</h3>
    </div>
    <!-- Description or the answer of the post  -->
    <div class="post_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit commodi facere rem labore dicta dolorem alias,
            repellat eius quam at quidem eveniet dolor modi architecto placeat officia porro fuga nulla. <a
                href="/blog">Read more</a> </p>
    </div>
    <!-- Post footer section where user name who is write post and number of  -->
    <!-- likes and post date are display here  -->
    <div class="post_Footer">
        <div class="postInfo">
            <div class="btn">
                <i class="fa fa-thumbs-up fa-beat"></i>
                <span>10</span>
            </div>
            <div class="btn">
                <i class="fa fa-thumbs-down fa-beat"></i>
                <span>0</span>
            </div>


        </div>
        <!-- post date  -->
        <div class="post_date">
            <span>22 march 1002</span>
        </div>
    </div>
</div>
<div class="post_wrapper">
    <!-- Title or question of the post  -->
    <div class="user_wrapper">
        <div class="image_box">
            <img src="https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?w=243&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="">
        </div>
        <div class="userDetails">
            <h5>Username</h5>
            <p>ln mish</p>
        </div>
    </div>
    <div class="postTitle">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ex.</h3>
    </div>
    <!-- Description or the answer of the post  -->
    <div class="post_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit commodi facere rem labore dicta dolorem alias,
            repellat eius quam at quidem eveniet dolor modi architecto placeat officia porro fuga nulla. <a
                href="/blog">Read more</a> </p>
    </div>
    <!-- Post footer section where user name who is write post and number of  -->
    <!-- likes and post date are display here  -->
    <div class="post_Footer">
        <div class="postInfo">
            <div class="btn">
                <i class="fa fa-thumbs-up fa-beat"></i>
                <span>10</span>
            </div>
            <div class="btn">
                <i class="fa fa-thumbs-down fa-beat"></i>
                <span>0</span>
            </div>


        </div>
        <!-- post date  -->
        <div class="post_date">
            <span>22 march 1002</span>
        </div>
    </div>
</div>
<div class="post_wrapper">
    <!-- Title or question of the post  -->
    <div class="user_wrapper">
        <div class="image_box">
            <img src="https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?w=243&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="">
        </div>
        <div class="userDetails">
            <h5>Username</h5>
            <p>ln mish</p>
        </div>
    </div>
    <div class="postTitle">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ex.</h3>
    </div>
    <!-- Description or the answer of the post  -->
    <div class="post_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit commodi facere rem labore dicta dolorem alias,
            repellat eius quam at quidem eveniet dolor modi architecto placeat officia porro fuga nulla. <a
                href="/blog">Read more</a> </p>
    </div>
    <!-- Post footer section where user name who is write post and number of  -->
    <!-- likes and post date are display here  -->
    <div class="post_Footer">
        <div class="postInfo">
            <div class="btn">
                <i class="fa fa-thumbs-up fa-beat"></i>
                <span>10</span>
            </div>
            <div class="btn">
                <i class="fa fa-thumbs-down fa-beat"></i>
                <span>0</span>
            </div>


        </div>
        <!-- post date  -->
        <div class="post_date">
            <span>22 march 1002</span>
        </div>
    </div>
</div>
<div class="post_wrapper">
    <!-- Title or question of the post  -->
    <div class="user_wrapper">
        <div class="image_box">
            <img src="https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?w=243&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="">
        </div>
        <div class="userDetails">
            <h5>Username</h5>
            <p>ln mish</p>
        </div>
    </div>
    <div class="postTitle">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ex.</h3>
    </div>
    <!-- Description or the answer of the post  -->
    <div class="post_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit commodi facere rem labore dicta dolorem alias,
            repellat eius quam at quidem eveniet dolor modi architecto placeat officia porro fuga nulla. <a
                href="/blog">Read more</a> </p>
    </div>
    <!-- Post footer section where user name who is write post and number of  -->
    <!-- likes and post date are display here  -->
    <div class="post_Footer">
        <div class="postInfo">
            <div class="btn">
                <i class="fa fa-thumbs-up fa-beat"></i>
                <span>10</span>
            </div>
            <div class="btn">
                <i class="fa fa-thumbs-down fa-beat"></i>
                <span>0</span>
            </div>


        </div>
        <!-- post date  -->
        <div class="post_date">
            <span>22 march 1002</span>
        </div>
    </div>
</div>
<div class="post_wrapper">
    <!-- Title or question of the post  -->
    <div class="user_wrapper">
        <div class="image_box">
            <img src="https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?w=243&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="">
        </div>
        <div class="userDetails">
            <h5>Username</h5>
            <p>ln mish</p>
        </div>
    </div>
    <div class="postTitle">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ex.</h3>
    </div>
    <!-- Description or the answer of the post  -->
    <div class="post_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit commodi facere rem labore dicta dolorem alias,
            repellat eius quam at quidem eveniet dolor modi architecto placeat officia porro fuga nulla. <a
                href="/blog">Read more</a> </p>
    </div>
    <!-- Post footer section where user name who is write post and number of  -->
    <!-- likes and post date are display here  -->
    <div class="post_Footer">
        <div class="postInfo">
            <div class="btn">
                <i class="fa fa-thumbs-up fa-beat"></i>
                <span>10</span>
            </div>
            <div class="btn">
                <i class="fa fa-thumbs-down fa-beat"></i>
                <span>0</span>
            </div>


        </div>
        <!-- post date  -->
        <div class="post_date">
            <span>22 march 1002</span>
        </div>
    </div>
</div>
<div class="post_wrapper">
    <!-- Title or question of the post  -->
    <div class="user_wrapper">
        <div class="image_box">
            <img src="https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?w=243&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="">
        </div>
        <div class="userDetails">
            <h5>Username</h5>
            <p>ln mish</p>
        </div>
    </div>
    <div class="postTitle">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ex.</h3>
    </div>
    <!-- Description or the answer of the post  -->
    <div class="post_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit commodi facere rem labore dicta dolorem alias,
            repellat eius quam at quidem eveniet dolor modi architecto placeat officia porro fuga nulla. <a
                href="/blog">Read more</a> </p>
    </div>
    <!-- Post footer section where user name who is write post and number of  -->
    <!-- likes and post date are display here  -->
    <div class="post_Footer">
        <div class="postInfo">
            <div class="btn">
                <i class="fa fa-thumbs-up fa-beat"></i>
                <span>10</span>
            </div>
            <div class="btn">
                <i class="fa fa-thumbs-down fa-beat"></i>
                <span>0</span>
            </div>


        </div>
        <!-- post date  -->
        <div class="post_date">
            <span>22 march 1002</span>
        </div>
    </div>
</div>