<head>

    <style>
        .features_link_wrapper {
            padding: 0.5% 5%;


        }
       .feature_nav{
        margin-left: 5%;
       }
       .feature_nav ul li {
            margin-left: 5%;
        }

        ul li>a {
            text-decoration: none;
            font-size: 20px;
            color: gray;
        }
    </style>
</head>
<!-- Blog Category SEction  -->
<div class="features_link_wrapper">
    <!-- link of category section  -->
    <nav class="feature_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Technology</a></li>
            <li><a href="/">IT</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/about">About us</a></li>
        </ul>
    </nav>
</div>