<head>

  <link rel="stylesheet" href="/CSS/Header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<!-- Starting of header tag -->
<header>
  <!-- Logo of the web -->
  <div class="webTitle">
    <a href="/" class="web_logo">Tech World</a>
  </div>

  <!-- Search bar -->
  <div class="searchBox">
    <form action="/post" method="post">
      <input type="text" name="search" value="" placeholder="Search ">
      <button> <i class="fa fa-search"></i></button>
    </form>

  </div>
    <!-- Navigation area  -->
  <nav>
    <ul>
      <li class="list" ><a href="#"><i class="fa-brands fa-facebook">

          </i></a>
        
      </li>
      <li class="list" ><a href="#"><i class="fa-brands fa-instagram">

          </i></a>
        
      </li>
      <li class="list" ><a href="#"><i class="fa-brands fa-twitter">

          </i></a>
        
      </li>
      <!-- <li class="list" onmouseover="hoverEffect(3)"> <a href="#"><i class="fa fa-feed">

          </i></a>
        <p class="hover_text ">Feed</p>
      </li> -->
    </ul>
  </nav>
  <!-- account button -->
  <div class="buttons">
    <a href="/login"><i class="fa fa-sign-in"></i></a>
    <a href="/signup"><i class="fa fa-sign-out"></i></a>
  </div>
  <!-- Social media links -->
 
</header>
<script src="/script/script.js"></script>